<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [ ]:
# Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [ ]:
# Exercise 3: Create markdown cell for an introduction

In this notebook, Data science Tools and Ecosystem are summarized.

In [ ]:
# Exercise 10: Insert a markdown cell to list Objectives

**Objectives:**

By end of this course, you will leaarn Data science tools like
+ Python
+ R
+ SQL
+ Scala
+ Julia

In [ ]:
# Exercise 4: Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

In [ ]:
# Execise 5: Create a markdown cell to list data science languages

Some of the commonly used libraries used by Data Scientists include:
1. Keras
2. ggplot2
3. Matplotlib
4. Tensorflow
5. pandas
6. numpy

In [ ]:
# Exercise 6: Create amrkdown cell with a table of Data science tools


| Data Science Tools|
|----|
| Rstudio|
| Apache Spark|
| Jupyter Notebook|

In [ ]:
# Exercise 7: Create a markdown cell introducing arithmetic expression example

### Examples that evaluate arithmetic expression in python

In [ ]:
# Exercise 8: Create a code cell to multiply and add numbers

In [1]:
# Arithmetic expression to multiply numbers and then add integer number
(3*4)+5

17

In [ ]:
# Exercise 9: Create a code cell to convert minutes to hours

In [2]:
# Exprression to convert minutes to hours
200/60

3.3333333333333335

## Author
Dejenie Birile